/*Amarillo: FBFE28
Anaranjado FFC074
naranja FF9700
Rojo FF9700
ManzanaVerde A2FF00
VerdeFuerte 18B100
Verdecopado 3CBD77
Negro 999
TITULO---- font-family: 'Slabo 27px', serif;
CUERPO---- font-family: 'Slabo 27px', serif;
*/

html {
  font-family: font-family: 'Slabo 27px', serif;
}

.title{
  text-transform: uppercase;
  text-align: center;
  background-color: #3CBD77;
}

img{
    width: 100%;
}

.phagrapaph{
  line-height: 1.8em;
  font-weight: 300;
}

.contorno{
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido{
max-width: 960px;
width: 100%;
height: 80vh;
background-color: white;
position: relative;
overflow: scroll;
}

.contenido{
  padding: 1em;
}

td{
  display: block;
  width: 100%;
}

td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color:#185405;
}
th{
  display: none;
}

a{
  text-decoration: none;
  color: #FF9700;
}

a:hover{
  opacity: 0.8;
}

a:active{
  color: blue;
}

.fa-star{
  color: #FBFE28;
}

.tablero{
  width: 100%;
  border-spacing: 0;
}

.tablero td, .tablero th{
  padding: 1em;
  text-align: left;
}

.title-item{
  border-bottom: solid 2px red;
  padding-bottom: 1em;
  font-size: 2em;
}

.image{
  float: left;
  margin-right: 1em;
  margin-left: 0.5em;
  width: 300px;
  height: 200px;
}

.position{
  border-bottom: solid 2px;
  padding: 0,5em;
  background-color: #A2FF00;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  border-bottom-left-radius: 2em;
  margin-right: 0.5em;
}

.actions{
  position: absolute;
  right: 1em;
  top: 1em;
}

.close{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #A2FF00;
  display: inline-block;
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.address{
  font-weight: bold;
  color: #185405;
  font-size: 1.5em;
  margin-top: 1em;
  display: inline-block;
}

@media (min-height:550px) {
  .content{
    height: 500px;
  }
}

@media (min-width:900px) {
  th{
    display: table-cell;
  }
  td{
    width: auto;
    display: table-cell;
  }
  td:nth-last-of-type(1){
    font-size: 1em;
  }
  .tablero tr:nth-child(even) {background-color: #B4FFD3;}

  .contenido{
    padding: 1.8em;
  }
}
